.nav-container {
    background-color: #305478;
    padding: 20px 20px;
  }
  
  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #000;
  }
  
  /*for active link*/
  .nav-link.active {
    font-weight: bold;
    color: #dee5ec;
  }
  