.projectCard{
    width: 18rem;
    /*background-color: #646a6f;*/
    background: linear-gradient(to right, #64809d, #5b5858);
    color: white;

  }

  .custom-carousel-btn {
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    color: #000;
    transition: color 0.3s ease-in-out;
  }
  
  .custom-carousel-btn:hover {
    color: #007bff;
  }
  
  .prev-btn {
    margin-right: 20px;
  }
  
  .next-btn {
    margin-left: 20px;
  }

  /*for web btn*/
  .webBtn{
    background-color: #305478;
    color: white;
  }

  .cardImg{
    padding: 1.5rem;

  }

  .cardPart{
    width: 90%;

  }

  .equalImg {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
  /* Apply the pop-up effect on hover */
.card:hover {
  /*increase the size of card*/
  transform: scale(1.05);
   /*shadow effect */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   /*transition*/
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*change the background color of the card body on hover */
.card:hover .infoPart {
  
}

/*hover effect on btn inside the card */
.card:hover .projectBtn {
  color: white;
  transition: background-color 0.3s ease;
  background-color: #305478;
}

.titleSize{
  font-size: 2.75rem;
}

