.card {
    background: linear-gradient(to right, #64809d, #5b5858);
    color: white;
    border: none;
  }
  
  .card .list-group-item {
    background: transparent;
    border: none;
    color: white;
  }
  
  .card .list-group-item i {
    color: white;
  }
  .skillCard {
    max-width: 300px;
  }
  
  .skillContainer {
    max-width: 1200px;
  }
  
  @media (min-width: 768px) {
    .skillCard{
      margin: 0 auto;
    }
  }

/*for smaller screen*/
/* Default styles */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Center cards for smaller screens */
@media (max-width: 576px) {
  .skillCard{
    align-items: center;
    margin-left: 20px;
  }
  
}